/* File Explorer Item Label */
.monaco-tree .monaco-tree-row .label-name,
.monaco-list .monaco-list-row
.monaco-icon-label .label-name {
    font-family: 'ComicCodeLigatures Nerd Font', monospace !important;
    font-size: 14px !important;
    font-weight: 400 !important;
}

.monaco-workbench .part.editor>.content .editor-group-container>.title .tabs-container>.tab .tab-label {
    font-family: 'ComicCodeLigatures Nerd Font', monospace !important;
    font-size: 14px !important;
    font-weight: 400 !important;
}

.monaco-editor .cursors-layer.cursor-smooth-caret-animation > .cursor {
    transition: all 0.15s !important;
}

/* Code canvas top shadow */
.monaco-editor .scroll-decoration {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, .75) !important;
    top: -6px !important;
}

/* Toolbars when tabs are enabled. */
.monaco-workbench .part.editor>.content .editor-group-container>.title .editor-actions {
    display: none !important;
}

/* Side bar */
.part.sidebar {
    box-shadow: 0px 0px 50px rgba(0, 0, 0, .25);
}

.monaco-editor .cursors-layer.cursor-underline-style > .cursor {
    border-bottom: 2px solid rgb(32, 178, 170) !important;
    border-top: 2px solid rgb(32, 178, 170) !important;
    border-radius: 3px !important;
    background: transparent !important;
    height: 1rem !important;
    width: 1em !important;
    overflow: visible !important;
    margin-top: -1rem !important;
    box-sizing: content-box !important;
    animation-name: none !important;
}

.cursor-smooth {
    animation: vdos-right 0.5s ease-in-out 0s 20 alternate !important;
}

.monaco-editor .cursors-layer.cursor-underline-style > .cursor::before {
    overflow: visible !important;
}

.monaco-editor .cursors-layer.cursor-underline-style > .cursor::before {
    height: 0.9rem !important;
    background: transparent !important;
    border-right-width: 2px !important;
    border-right-style: solid !important;
    border-right: 2px solid rgb(32, 178, 170);
    border-bottom: 3px solid mediumturquoise !important;
    border-radius: 2px !important;
    display: block !important;
    content: ' ' !important;
    position: absolute !important;
    box-sizing: content-box !important;
    width: 1em !important;
    left: -1em !important;
    transition: all 1s !important;
    animation: monaco-cursor-smooth 0.5s ease-in-out 0s infinite alternate !important;
}

